<div class="header-img-container">
    <img src="/images/tennis-court.jpg" alt="terrain de tennis">
</div>
<section>
    <h1>L'utilisateur n'existe pas ou n'est pas un entraîneur !</h1>
    <img src="/images/error404.jpg" alt="error">
</section>