body{
    
    background-color: #fbfff1;
    font-family: 'Montserrat';
    display: flex;
    flex-direction: column;
    min-height: 100vh;
  }
  footer {
    margin-top: auto;
    text-align: center;
    line-height: 1.5;
    width: 100%;
    vertical-align: middle;
  }
  footer div {
    display: inline-block;
    vertical-align: middle;
    margin-left: 150px;
    margin-right: 150px;
  }
  header {
  text-align: center;
  line-height: 1.5;
  
  }
  span {
  font-weight: 600;
  }
  .center{
    text-align: center;
  }
  
  header nav {
  background-color: #fbfff1;
  display: flex;
  justify-content: space-between;
  font-size: large;
  padding-left: 40px;
  }
  header nav li {
  font-weight: 600;
  }
  .left {
  text-align: left;
  }
  
  .right {
  margin-left: 10px;
  }
  
  header nav ul li {
  display: inline;
  margin: 40px;
  
  }
  
  
  .dropdown {
    position: relative;
    display: inline-block;
    
  }
  
  .dropdown-menu {
  font-size: medium;
  font-weight: 400;
  display: none;
  position: absolute;
  background-color: #d6e6ad;
  width: 180px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.1);
  padding: 12px;
  text-align: center;
  border-radius: 10px;
  transform: translateX(-50%);
      left: 50%;
  
  }
  
  .dropdown:hover .dropdown-menu {
  display: block;
  }
  
  a:link {
    color: black;
    text-decoration: none;
  }
  a:visited {
    color: black;
  }
  a:hover {
    color: rgb(57, 43, 43);
    text-decoration: underline;
  }
  
  .error{
    color: rgb(148, 6, 6);
  } 
  .container {
  vertical-align: middle;
  overflow-x: auto; 
  white-space: nowrap; /* Prevent cards from wrapping to the next line */
  
  width: 90%;
  height: 400px;
  margin-top:30px;
  padding: 0 15px;
  }
  
  .card {
  background: #EDEEE5;
  box-shadow: 0 3px 5px 0 #9a9b8f;
  border-radius: 10px;
  display: inline-block;
  vertical-align: middle;
  margin-right: 40px; /* Increase margin between cards */
  margin-top: 50px;
  padding: 0;
  width: 250px;
  height: 300px;
  }
  
  .card img {
  padding: 0;
  width: 100%; /* Make the image take up the full width of the card */
  height: 50%;
  object-fit: cover; /* Resize the image to cover the box */
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  display: block; /* Make the image a block element */
  }
  
  .card p{
  text-align: center;
  font-size: 14px;
  margin-top: 5px;
  
  }
  
  .card .title {
  padding-top: 10px;
  margin-bottom: 30px;
  font-size: 18px;
  font-weight:400;
  text-align: center;
  }

  .title {
    text-align: center;
    font-size: 35px;
    font-weight: 400;
    margin-top: 50px;
    margin-bottom: 20px;
  }

.details_tournament_section{
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-bottom: 5px;
} 
.details_container {
  white-space: nowrap;
  width: 90%;
  height: 400px;
  margin-top:20px;
  }
.details_block {
  display: inline-block;
  vertical-align: text-top;
  padding: 0;
  margin-left: 80px;
  margin-right: 80px;
}

.details_block .title {
  font-size: 25px;
  font-weight:500;
  text-align: center;
  margin-top: 5px;
}

.details_block .details{
  text-align: center;
  font-size: 25px;
  font-weight: 200;
  margin-top: 50px;
}
.details_block .details_coach{
  text-align: center;
  font-size: 25px;
  font-weight: 200;
  margin-top: 20px;
}
.details_block img {
  width: 90px;
  border-radius: 50px;
}
.tournament_register_form{
  margin-top: 10px;
  margin-bottom: 40px;
  text-align: center;
}
.tournament_register_form .register_button{
  position: relative;
  bottom: 110px;
  text-align: center;
  height: 50px;
  width: 200px;
  font-size: 20px;
  border: none;
  transition: 0.4s;
}

.tournament_register_form .register_button:hover{
  background-color: rgb(174, 174, 174); /*Couleur lors du passage de la souris sur le boutotn */  
}

.tournament_text{
  position: relative;
  bottom: 100px;
  text-align: center;
  font-size: 20px;
  
}
  .header-img-container{
    width: 100%;
    height: 280px;
    overflow: hidden;
  }

  .header-img-container img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: 50% 50%;
  }

  h1 {
    font-size:35px;
    text-align: center;
  }

.container_coach_img {
  display: flex;
}

.coach_img{
  margin-left: 10%;
  border-radius: 20px; /* Cela rend l'image complètement ronde*/
  width: 300px; /* Ajuste la taille de l'image*/
  height: 400px;
  object-fit: cover; /* Cela s'assure que l'image couvre toute la zone, même si elle doit être rognée */
}
  
.profile_info{
  margin-left: 50px; /* Cela ajoute un peu d'espace entre l'image et le texte */
}

.form_bio{
  margin-left: 50%;
}
.form_bio .update_boutton{
  color: black;
  height: 40px;
  width: 200px;
  font-size: 20px;
  border: none;
  transition: 0.4s;
}

.form_bio .update_boutton:hover{
  background-color: rgb(174, 174, 174); /*Couleur lors du passage de la souris sur le boutotn */
}

.form_message {
  margin-left: 70%;
  position: relative;
  top: -200px;
}

.form_message .champs_message{
  height: 125px;
  width: 400px;
  margin-bottom: 20px;
  position: relative;
}

.form_message .send_boutton{
  color: black;
  height: 40px;
  width: 250px;
  font-size: 20px;
  border: none;
  transition: 0.4s;
  margin-left: 30%;
}

.form_message .send_boutton:hover{
  background-color: rgb(174, 174, 174);
} /*Couleur lors du passage de la souris sur le boutotn */


.container_register {
  background: #EDEEE5;
  box-shadow: 0 3px 10px 0 #9a9b8f;
  border-radius: 10px;
  display: block;
  margin: 0 auto;
  padding-top: 15px;
  padding-bottom:15px ;
  width: 380px;
  height: auto;
  align-content:center;
}

.container_register label {
  display: block;
  text-align: left;
  margin-left: 15px;
}

.container_register input[type="text"], input[type="email"], input[type="password"] {
  width: 85%;
  padding: 10px;
  margin-bottom: 15px;
  margin-left: 15px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 14px;
}


.container_register input[type="submit"] {
  width:91%;
  margin-left: 15px;
  margin-bottom: 10px;
  padding: 10px; /* Ajouter un peu d'espace intérieur pour les inputs */
  border: none; /* Ajouter une bordure pour plus de visibilité */
  border-radius: 4px; /* Arrondir les coins des inputs */
  padding: 10px 20px;
  cursor: pointer;
  background-color: #dbd8d8;
}


.container_logIn {
  background: #EDEEE5;
  box-shadow: 0 3px 10px 0 #9a9b8f;
  border-radius: 10px;
  display: block;
  margin: 0 auto;
  padding-top: 15px;
  padding-bottom:15px ;
  width: 380px;
  height: auto;
  align-content:center;
}

.container_logIn input[type="email"], input[type="password"] {
    width: 85%;
    padding: 10px;
    margin-bottom: 15px;
    margin-left: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 14px;

}

.container_logIn label {
  display: block;
  text-align: left;
  margin-left: 15px;
}
.container_logIn input[type="submit"] {
  width:91%;
  margin-left: 15px;
  margin-bottom: 10px;
  padding: 10px; /* Ajouter un peu d'espace intérieur pour les inputs */
  border: none; /* Ajouter une bordure pour plus de visibilité */
  border-radius: 4px; /* Arrondir les coins des inputs */
  padding: 10px 20px;
  cursor: pointer;
  background-color: #dbd8d8;
}

.form_updateBio {
  background: #EDEEE5;
  box-shadow: 0 3px 10px 0 #9a9b8f;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
  padding: 15px 30px 15px 30px;
  width:fit-content;
}
.form_updateBio label {
  display: block;
  margin-bottom: 10px;
}


.form_updateBio input[type="text"] {
  vertical-align: top;
  width:80%;
}

.form_updateBio input[type="submit"] {
  width:100%;
  padding: 10px; /* Ajouter un peu d'espace intérieur pour les inputs */
  border: none; /* Ajouter une bordure pour plus de visibilité */
  border-radius: 4px; /* Arrondir les coins des inputs */
  padding: 10px 20px;
  cursor: pointer;
  background-color: #dbd8d8;
  transition: background-color 0.4s;
}

input[type="submit"]:hover{
  background-color: rgb(163, 162, 162);
}

.container_messages {
  background: #ebebd0;
  border-radius: 20px;
  display: block;
  margin: 0 auto;
  padding: 0;
  width: 60%;
  height: 60%;
}

.container_messages .message {
  background: rgba(248, 248, 157, 0.651);
  border-radius: 10px;
  display: block;
  padding: 10px;
  width: max-content;
}

.container_messages .answer {
  background: rgba(248, 248, 157, 0.651);
  border-radius: 10px;
  display: block;
  padding: 10px;
  width: max-content;
}

.container_tournament_creation {
  background: #EDEEE5;
  box-shadow: 0 3px 10px 0 #9a9b8f;
  border-radius: 10px;
  display: block;
  margin: 0 auto;
  padding-top: 15px;
  padding-bottom:15px ;
  width: 400px;
  height: auto;
  align-content:center;
}

.container_tournament_creation label {
  display: block;
  text-align: left;
  margin-left: 15px;
}

.container_tournament_creation input[type="text"], input[type="number"], input[type="date"], input[type="file"]{
  width: 85%;
  padding: 10px;
  margin-bottom: 15px;
  margin-left: 15px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 14px;
}


.container_tournament_creation input[type="submit"] {
  width:91%;
  margin-left: 15px;
  margin-bottom: 10px;
  padding: 10px; /* Ajouter un peu d'espace intérieur pour les inputs */
  border: none; /* Ajouter une bordure pour plus de visibilité */
  border-radius: 4px; /* Arrondir les coins des inputs */
  padding: 10px 20px;
  cursor: pointer;
  background-color: #dbd8d8;
}

.court_img{
  margin-left: 10%;
  border-radius: 20px; /* Cela rend l'image complètement ronde*/
  width: 300px; /* Ajuste la taille de l'image*/
  height: 400px;
  object-fit: cover; /* Cela s'assure que l'image couvre toute la zone, même si elle doit être rognée */
}

.container_court_img {
  display: flex;
}

.index{
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-bottom: 5px;

  
}
.index .text {
  font-size: 20px;
  width: 80%;
  text-align: center;
  margin-top: 5px;
}

.container_index {
  display: flex; /* Add this line */
  vertical-align:middle;
  overflow-x: auto; 
  white-space: nowrap; /* Prevent cards from wrapping to the next line */
  
  width: 90%;
  height: 400px;
  margin-top:50px;
  margin-left: 30px;
  margin-right: 30px;
  padding: 0 15px;
  }
  
 .card_index {
  background: #EDEEE5;
  box-shadow: 0 3px 5px 0 #9a9b8f;
  border-radius: 10px;
  display: inline-block;
  vertical-align: middle;
  padding: 0;
  margin-right: 20px;
  width: 200px;
  height: 200px;
  }
.background_photo {
  background-image: url('/images/Rectangle 25.png');
  background-repeat: repeat-y;
  background-size: cover; 
  position: relative;
  color:#dbd8d8;
  width: 100%;
  height: 350px;
  margin-top: 50px;
  margin-bottom: 50px;
  
}
.background_photo .text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #fff; /* Change the color as needed */
}


.background_photo .details{
  white-space: nowrap;
  width: 90%;
  height: 400px;
  margin-top:80px;
}

.background_photo .details_block {
  display: inline-block;
  vertical-align: text-top;
  padding: 0;
  margin-left: 10%;
}

.background_photo .details_block .title {
  font-size: 30px;
  font-weight:400;
  text-align: center;
  margin-top: 5px;
}

.background_photo .details_block .details{
  text-align: center;
  font-size: 80px;
  font-weight: 200;
  margin-top: 50px;
}
.error-message {
  color: red; 
  background-color: #ffe6e6; 
  border: 1px solid red; 
  padding: 10px; 
  border-radius: 5px; 
  font-weight: bold; 
}
.button {
  background-color:green; 
  color: white; 
  border: none; 
  border-radius: 5px; 
  padding: 10px 20px; 
  font-size: 16px; 
  font-weight: bold; 
  cursor: pointer; 
  transition: background-color 0.3s; 
}


.button:hover {
  background-color: #0056b3; 
}

.photo_profil_coach {
  width: 90px;
  border-radius: 50px;
}
.myHeader {
  background-color: #f2f2f2;
  color: #333; 
  font-weight: bold;         }
  .myTable {
    width: 100%;
    border-collapse: collapse; 
    margin: 20px 0;        }
    .myRow:hover {
      background-color: #e0f7fa; 
  }
